[project]
	description = Java REST client for Gerrit Code Review
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/atiasadir
[access "refs/for/refs/*"]
	read = group user/atiasadir
	push = group user/atiasadir
	label-Code-Review = -2..+2 group user/atiasadir
	label-Verified = -1..+1 group user/atiasadir
	rebase = group user/atiasadir
	removeReviewer = group user/atiasadir
	submit = group user/atiasadir
[access "refs/heads/*"]
	read = group user/atiasadir
	create = group user/atiasadir
	push = +force group user/atiasadir
	pushMerge = group user/atiasadir
[access "refs/tags/*"]
	push = group user/atiasadir
	push = +force group user/atiasadir
